---
layout: default
title: categories
permalink: /categories/
---
<div class="page">
  <h1 class="page-heading">{{ page.title }}</h1>
  <div class="archives">
    {% for category in site.categories %}
      <h2 id="{{ category | slugify }}">{{ category[0] }}</h2>
      <ul class="post-list">
        {% for post in category[1] %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
